<% content_for :header_tags do %>
<%= stylesheet_link_tag 'preSchedule.css', :plugin => 'ppr' %>
<% end %>

<% if @diffUsers.empty? %>
<h2>Project information</h2>
<div class="container">
    <form action="scheduler" id="pre-schedule">
    <div class="row">
        <div class="col-md-6">
            <p>
                <strong>Name:</strong>
                <%= @project.name%>
            </p>
            <p>
                <strong>Description:</strong>
                <%= @project.description%>
            </p>
            <p>
                <strong>Identifier:</strong>
                <%= @project.identifier%>
            </p>
            <p>
                <strong>Start Date:</strong>
                <input type="text" class="project-start-input" name="project[start_date]" value="<%= Time.now.strftime("%Y-%m-%d") %>">
                <span id="project-start-date"></span>
            </p>
            <p>
                <strong>End Date:</strong>
                <span id="project-end-date"></span>
            </p>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Role</strong></th>
                    <th><strong>Commitment Ratio</strong></th>
                    <th>Color</th>
                </tr>
                <% @users.each do |user| -%>
                <tr>
                    <td>
                        <%= user.login %>
                        <input type="hidden" name="user[<%= user.id %>][id]" value="<%= user.id %>">
                        <input type="hidden" name="user[<%= user.id %>][username]" value="<%= user.login %>">
                    </td>
                    <td><input type="text" name="user[<%= user.id %>][role]"></td>
                    <td><input type="text" name="user[<%= user.id %>][commitment_ratio]"></td>
                    <% color = rand(0xffffff).to_s(16) %>
                    <td class="user-color" style="background-color: <%= '#' + color %>">
                      <input type="hidden" name="user[<%= user.id %>][color]" value="#<%= color%>">
                    </td>
                </tr>
                <% end %>
            </table>
        </div>    
    </div>
    <div class="clear"></div>
    <input id="preScheduleButton" type="submit" <%= @users.count == 0 ? 'disabled' : '' %> value="Continue">
    </form>
</div>
<hr/>
<div id="showPreview">
</div>

<script type="text/javascript">
    $(function(){
        var projectId = '<%= @project.identifier %>';
        function postSchedule(url) {
            $.post(url, $('#pre-schedule').serialize(), function(response){
                $('#preScheduleButton').hide();
                $('#showPreview').hide().html(response).fadeIn('slow');
                var endDate = $('#showPreview .project-end-date').val();
                var startDate = $('.project-start-input').hide().val();
                $('#project-end-date').html(endDate);
                $('#project-start-date').html(startDate);
            });
        }

        $('#pre-schedule').submit(function(e){
            e.preventDefault();
            postSchedule('/importer/schedule?project_id=' + projectId);
        });

        $(document).on('click', '.month-links a', function(e){
            e.preventDefault();
            postSchedule($(this).attr('href'));
        })
    });
</script>
<% end %>