<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'preSchedule.css', :plugin => 'ppr' %>
<% end %>
<% # Enlaces para el mes anterior y el mes siguiente %>
<div>
    <div class="month-links">
      <%= link_to_previous_month(@year, @month) %> | <%= link_to_next_month(@year, @month) %>
    </div>
    <% # Impresion del calendario %>
    <table class="cal">
        <thead>
            <tr>
                <% # Imprime la celda mas al noreste vacia %>
                <th scope="col" title="<%= l :label_week %>" class="week-number"></th>
                <% # Imprime las columnas correspondientes a los siete dias de la semana empezando por el Domingo %>
                <% 7.times do |i| %>
                <th scope="col"><%= day_name((@calendar.first_wday + i) % 7) %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% day= @calendar.startdt %>
            <% # Itera hasta el ultimo dia del mes %>
            <% while day <= @calendar.enddt %>
            <% # Imprime la celda correspondiente al numero se semana si el dia actual es el primer dia de la semana(Domingo) %>
            <% if @calendar.first_wday == day.cwday %>
            <tr>
                <% # (day + ((11 - day.cwday) % 7)) Siempre da el jueves de la proxima semana %>
                <td class="week-number" title="<%= l :label_week %>"><%= (day + ((11 - day.cwday) % 7)).cweek %></td>
                <% end %>
                <% even= day.month == @calendar.month %>
                <td class="<%= (even) ? 'even' : 'odd' %><%= ' today' if Date.today == day %>">
                    <% # Imprime el numero del dia %>
                    <p class="day-num"><%= day.day %></p>
                    <% # Si el dia pertenece al mes imprime los eventos de dicho dia %>
                    <% @calendar.events_on(day).each do |e| %>
                      <div class="issue ending tooltip">
                        <span class="user-color-id" style="background-color: <%= @user_colors[e.obj.assigned_to] %>;"></span>
                        <%= e.obj.name %>
                        <span class="tip">
                          <ul>
                            <li><strong>Task name: </strong> <%= e.obj.name %></li>
                            <li><strong>Start date: </strong> <%= e.start_date %></li>
                            <li><strong>End date: </strong> <%= e.due_date %></li>
                            <li><strong>Assignee: </strong> <%= e.obj.assigned_to %></li>
                            <li><strong>Estimated time: </strong> <%= e.obj.duration %></li>
                          </ul>
                        </span>
                      </div>
                    <% end %>
                </td>
                <% # Cierra la fila si es el ultimo dia de la semana(Sabado) %>
                <% if day.cwday == @calendar.last_wday %>
            </tr>
            <% end %>
            <% # Pasa al proximo dia %>
            <% day= day + 1 %>
            <% end %>
        </tbody>
    </table>
</div>
<input class="project-end-date" value="<%= @end_date %>" type="hidden"/>
<div class="csv-options">
    <button class="download-csv">Download CSV</button>
    <button class="import-csv">Import CSV</button>
</div>
