<div class='contextual'>
  <%= link_to(l(:label_download_csv),
    {:controller => 'issues_export', :action => 'download_csv', :project_id => project, :columns => 'all'},
    :onclick => "showModal('download', '250px'); return false;")
   %>
</div>

<div id="download" style="display:none;">
  <h3 class="title"><%= l(:label_download_csv) %></h3>
  <%= form_tag({:controller => 'issues_export', :action => 'download_csv'}, :method => :get, :id => 'csv-export-form') do %>
    <%= hidden_field_tag 'project_id', (project.nil? ? '' : project.id) %>
  <p>
    <label><%= radio_button_tag 'columns', '', true %> <%= l(:description_selected_columns) %></label><br />
    <label><%= radio_button_tag 'columns', 'all' %> <%= l(:description_all_columns) %></label>
  </p>
  <p>
    <label><%= check_box_tag 'description', '1', @query.has_column?(:description) %> <%= l(:field_description) %></label>
  </p>
  <p class="buttons">
    <%= submit_tag l(:button_export), :name => nil, :onclick => "hideModal(this);" %>
    <%= submit_tag l(:button_cancel), :name => nil, :onclick => "hideModal(this);", :type => 'button' %>
  </p>
  <% end %>
</div>

